doctype 5
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.js')
    script(src='/js/jquery-2.0.3.min.js')
    script(src='/js/index.js')
    title Super Awesome Chatroom
  body
    div.wrapper
      h1 Ben's Room
      div
        div#messages
        footer
          span Speaking as:
            input(type="text", value="Anonymous")#name
          br
          form#messageForm
            textarea(rows="4", cols="50", placeholder="Type here...", maxlength=200)#outgoingMessage
            input(type="button", value="Send", disabled=true)#send
        div.participants
          b Participants
          br
          div#participants