body, #outgoingMessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  color: #000;
}

#outgoingMessage, textarea, input {
  background: #fff;
  color: #000;
}

body {
  background: #e3e3e3;
}

textarea, input {
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

.wrapper {
  width: 900px;
  margin: auto;
}

#messages {
  height: 600px;
  overflow-y: scroll;
  overflow-x: auto;
}

.participants {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 200px;
}

#outgoingMessage {
  float: left;
  width: 80%;
  overflow-y: scroll;
}

#name {
}

#send {
  float: right;
  width: 18%;
  height: 103px;
  background: #fff;
}

#send:disabled {
  opacity: .5;
}

#send:enabled {
  background:#77C4D3;
  color:#000;
}
